/*
	Calendar CSS - by Nathan Smith - www.sonspring.com
*/

/* =Basic HTML
----------------------------------------------------------------------*/

a
{
	cursor: pointer;
	text-decoration: none;
}

body
{
	background: #666 url(../img/body.gif) repeat-y top center;
	color: #966;
	cursor: default;
	margin: 0;
	padding: 0;
}

caption
{
	background: url(../img/logo.gif) no-repeat;
	border-top: 5px solid #999;
	margin: 0 auto;
	text-align: right;
	font: 20px/30px Tahoma, sans-serif;
}

p
{
	margin: 0;
}

strong
{
	text-transform: uppercase;
}

table
{
	background: #fff;
	border-bottom: 3px solid #ccc;
	border-right: 1px solid #999;
	margin: 0 auto;
}

th,
td
{
	border-left: 1px solid #999;
	border-top: 1px solid #999;
	font-family: Verdana, sans-serif;
	padding: 0 2px;
	vertical-align: top;
	width: 100px;
	height: inherit;
}

td a
{
	background: url(../img/arrow.gif) no-repeat center left;
	color: #33f;
	padding: 0 0 0 10px;
}

td a:hover
{
	text-decoration: underline;
}

/* =Classes
----------------------------------------------------------------------*/

col.Sat,
col.Sun
{
	background: #eef;
}

div.buttons
{
	font: 10px Verdana, sans-serif;
	padding: 10px 0 20px;
	text-align: center;
}

div.buttons a
{
	background: #ddd;
	border: 1px solid #bbb;
	color: #000;
	padding: 3px 5px;
}

div.buttons a:hover
{
	background-color: #eef;
	color: #369;
}

tr.day
{
	color: #666;
	font-size: 9px;
	height: 90px;
}

tr.number
{
	background: #ddd;
	color: #888;
	font-size: 10px;
	height: 15px;
	text-align: right;
	vertical-align: middle;
}

th
{
	background: #fff;
	color: #999;
	font-size: 11px;
	font-variant: small-caps;
	font-weight: normal;
	height: 15px;
	text-transform: capitalize;
	text-align: center;
	vertical-align: middle;
}
